<%= @event.name %><br>
<p>Hosted by: <%= @event.host.name %></p>
<p>Date: <%= @event.date %>  </p>

<p>Guests:</p>
<% @event.attendees.each do |guest|%>
  <li><%= link_to guest.name, user_path %> </li>
<% end %>

<%= form_with url: event_event_attendances_path(event_id: @event.id), method: :post do |form| %>
  <%= form.submit "Attend event" %>
<% end %>